body * {
  transition: background-size 1s ease-in-out;
}

.posts {
  padding-top: 30px;
  padding-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.post {
  width: 350px;
  min-width: 300px;
  position: relative;
}

.post > a div {
  display: block;
  height: 350px;
  background-repeat: none;
  background-position: center !important;
  background-size: 200%;
}

.post:hover > a div {
  background-size: 100%;
}

.post > p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #222;
  text-decoration: none;
  text-align: right;
}
